<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.devil16.demo.employee.dao.EmployeeDao">
    <select id="selectEmployeeByCommitId" resultType="EmployeeEntity">
        SELECT 	commit_id as "commit_Id", 
        		first_name as "first_Name", 
        		last_name as "last_Name",
        		type as "type", 
        		cost_bill_link as "cost_Bill_Link",
    			cost_settle_link as "cost_Settle_Link",
    			designation as "designation",
				team as "team",
				line_of_business as "line_Of_Business",
				email_id as "email_Id",
				phone as "phone",
				status as "status",
				date_of_joining as "date_Of_Joining",
				last_working_date as "last_Working_Date"
        FROM employee_details
        where commit_id = #{commit_Id}
    </select>    
</mapper>