<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<settings>
    <setting name="cacheEnabled" value="false" />
    <setting name="lazyLoadingEnabled" value="false" />
</settings>
    <typeAliases>
        <package name="com.devil16.demo.employee.entity"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/EmployeeMapper.xml"/>
    </mappers>    
    
</configuration>